@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1950px;
  width: 100%;
  margin-inline: auto;
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }
  .section {
    @apply pt-10 pb-10 lg:pb-24 lg:pt-24 bg-secondary;
  }
}
